[user]
	email = simon.danielsson99@hotmail.com
	name = simondanielsson
  username = simondanielsson

[core]
  pager = less -FRSX
  editor = nvim

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true    # use n and N to move between diff sections
  side-by-side = true
  line-numbers = true

[merge]
  tool = nvimdiff4
  conflictstyle = diff3

[mergetool "nvimdiff4"]
  cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[diff]
  # Install with https://dandavison.github.io/delta/installation.html
  pager = delta
  colorMoved = default

[pull]
  rebase = false

[push]
  autoSetupRemote = true

[init]
  defaultBranch = main
[mergetool]
	keepBackup = false

[alias]
  b=branch '--sort=-committerdate'
  l=log '--oneline'
  s=status
  a=add
  c=commit
  d=diff
  ds=diff '--staged'
  pl=pull
  ps=push
  cp=cherry-pick
